li.nav-item{
    color:white;
}
.card-columns {
    column-count: 3;
}
.card-text{
    color:blue;
    text-align: center;
}
footer {
    text-align: center;
    padding: 2px;
    background-color: lightgrey;
    color: rgb(0, 0, 0);
  }
form{
    margin-left:500px;
    padding-left: 50px;
    margin-right:5px;
    justify-content: center;
}
input[type=text], select {
    width: 100%;
    padding: 3px 5px;
    margin:8px 0;
    border: 1px solid #ccc;
    display:inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    }
input[type=date], select {
    width: 100%;
    padding: 3px 5px;
    margin:8px 0;
    border: 1px solid #ccc;
    display:inline-block;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=time], select {
    width: 100%;
    padding: 3px 5px;
    margin:8px 0;
    border: 1px solid #ccc;
    display:inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    }
button{
    width:100%;
}
